body {
    background: #ccc url("../images/timg.jpg") no-repeat right top;
    background-size: 300px auto;
}

.div1 {
    width: 50px;
    height: 50px;
    background-color: burlywood;
}
img {
    display: block;
    width: 200px;
    height: auto;
}

.div4 {
    width: 50px;
    height: 50px;
    background-color: darkcyan;
    transform: rotate(45deg);
}